<form class="form" [formGroup]="form"  >
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>assigneeId</mat-label>
      <input matInput  id="assigneeId" formControlName="assigneeId" placeholder="1" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>taskText</mat-label>
      <textarea matInput idtaskText formControlName="taskText" placeholder="Ex. Some text"></textarea>
    </mat-form-field>
    <app-button (action)='addTask()'>Send</app-button>
  </form>